<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title logo">YummyChennai</span>
      <div class="mdl-layout-spacer"></div>
      <div [hidden]="isCart" style="display: flex;">
        <div class="yc-search mdl-textfield mdl-js-textfield mdl-textfield--expandable
                    mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon"
                for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" [(ngModel)]="searchTerm"
                  placeholder="search products" id="fixed-header-drawer-exp">
          </div>
        </div>
        <yc-cart-meta-info [count]="cartItems.length" (click)="openCart()"></yc-cart-meta-info>
      </div>
      <div [hidden]="!isCart">
        <i class="material-icons yc-close-cart" (click)="closeCart()">close</i>
      </div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid" style="background-color: #fafafa;">
        <div *ngFor="let product of products | productFilter: searchTerm" class="yc-product mdl-cell mdl-cell--3-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
          <div class="yc-product-image mdl-card mdl-shadow--2dp" [class.in-cart]="product.inCart">
            <div class="mdl-card__title mdl-card--expand" [style.background-image]="'url(' + product.image + ')'"
              (click)="showProductInfo(product)">
              <h2 class="mdl-card__title-text">{{product.name}}</h2>
              <div class="mdl-card__menu">
                <div *ngIf="!product.offer"><span class="yc-discount-price">{{product.price}}</span></div>
                <div *ngIf="product.offer"><span class="yc-actual-price">{{product.price}}</span><span class="yc-discount-price">{{computeDiscountPrice(product.price, product.offer)}}</span><span class="yc-offer-percent">({{product.offer}}% Off)</span></div>
              </div>
            </div>
            <div class="mdl-card__actions">
              <div class="yc-cart-actions">
                <ng-container *ngIf="!product.inCart">
                  <div class="add-to-cart" [@ycSlideBottom]="'in'" (click)="addToCart(product)">
                    <span>Add to Cart</span>
                    <div class="mdl-layout-spacer"></div>
                    <i class="material-icons">add_shopping_cart</i>
                  </div>
                </ng-container>
                <ng-container *ngIf="product.inCart">
                  <div class="remove-from-cart"  [@ycSlideBottom]="'in'" (click)="removeFromCart(product)">
                    <span>Remove from Cart</span>
                    <div class="mdl-layout-spacer"></div>
                    <i class="material-icons">remove_shopping_cart</i>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </main>
</div>

<div class="yc-product-details-overlay-container" *ngIf="selectedProduct">
  <div class="yc-product-details-overlay" [@ycSlideTop]="'in'">
    <div class="yc-product-image-container">
      <div class="yc-product-image" [style.background-image]="'url(' + selectedProduct.image + ')'"></div>
    </div>
    <div class="yc-product-info-container">
      <p class="yc-product-title">{{selectedProduct.name}}</p>
      <div class="yc-product-price" *ngIf="!selectedProduct.offer">
        <span class="yc-discount-price">{{selectedProduct.price}}</span>
      </div>
      <div class="yc-product-price" *ngIf="selectedProduct.offer">
        <span class="yc-actual-price">{{selectedProduct.price}}</span>
        <span class="yc-discount-price">{{computeDiscountPrice(selectedProduct.price, selectedProduct.offer)}}</span>
        <span class="yc-offer-percent">({{selectedProduct.offer}}% Off)</span>
      </div>
      <p class="yc-product-description">{{selectedProduct.description}}</p>
      <p class="yc-product-ingredients">
        <i class="yc-product-ingredients-icon"></i>
        {{selectedProduct.ingredients}}
      </p>
      <a [href]="selectedProduct.link" target="_blank">Know more</a>
    </div>
    <i class="material-icons yc-close" (click)="closeProductInfo()">close</i>
    <div class="yc-product-cart-action">
      <div class="yc-cart-button-container">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background: #2196f3;"
          *ngIf="!selectedProduct.inCart" (click)="addToCart(selectedProduct)" title="add to cart"
          [@ycZoom]="'in'">
          <i class="material-icons">add_shopping_cart</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" 
          *ngIf="selectedProduct.inCart" (click)="removeFromCart(selectedProduct)"
          title="remove from cart" [@ycZoom]="'in'">
          <i class="material-icons">remove_shopping_cart</i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="yc-cart-overlay-container" *ngIf="isCart" [@ycSlideBottomCart]="'in'">
  <div class="yc-cart">
    <ng-container *ngIf="cartItems.length > 0">
      <p class="title">Products in cart</p>
      <div class="yc-cart-items">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <div class="yc-cart-price">
            Total Price: <span>{{getTotalPrice()}}</span>
          </div>
          <thead>
            <tr>
              <th>Name</th>
              <th>quantity</th>
              <th class="only-mobile">unit price (Original) </th>
              <th class="only-mobile">unit price (Offer) </th>
              <th class="only-mobile">price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of cartItems" class="yc-cart-item">
              <td>
                <div class="yc-item-title">
                  <div class="yc-item-image" [style.background-image]="'url(' + product.image + ')'"></div>
                  <div class="yc-item-title-text yc-not-mobile">
                    {{product.name}}
                  </div>
                  <div class="yc-only-mobile yc-item-title-text-and-price">
                    <div class="yc-style">{{product.name}}</div>
                    <div class="yc-price">Price: {{product.quantity * computeDiscountPrice(product.price, product.offer)}}</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="yc-item-quantity">
                  <i class="material-icons yc-remove" [class.disable]="product.quantity == 0" (click)="decreaseQuantity(product)">remove_circle_outline</i>
                  <input type="number" [(ngModel)]="product.quantity">
                  <i class="material-icons yc-add" (click)="increaseQuantity(product)">add_circle_outline</i>
                </div>
              </td>
              <td class="only-mobile">{{product.price}}</td>
              <td class="only-mobile">{{computeDiscountPrice(product.price, product.offer)}}</td>
              <td class="only-mobile">{{product.quantity * computeDiscountPrice(product.price, product.offer)}}</td>
            </tr>
          </tbody>
          <div class="yc-place-order">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
              (click)="placeOrder()">
              Order Now
            </button>
          </div>
        </table>
      </div>
    </ng-container>
    <ng-container *ngIf="cartItems.length == 0 && orderedItems.length == 0">
      <p class="yc-cart-empty">Your cart is empty</p>
    </ng-container>
    <ng-container *ngIf="orderedItems.length > 0">
      <p class="yc-order-placed-text">Thank you, <br> Your order has been placed</p>
    </ng-container>
  </div>
</div>